@page "/cashier_console"

<h3>Cashier`s Console</h3>
<br />

<div>
    <div class="row">
        <div class="col">
            <SelectProductForSellingComponent OnProdutSelected="SelectProduct"></SelectProductForSellingComponent>
            <br />
            <SellProductComponent SelectedProduct="selectedProduct" OnProductSold="SellProduct"></SellProductComponent>
        </div>

        <div class="col">
            Place Holder 
        </div>
    </div>
</div>



@code {
    private Product selectedProduct;

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct(Product product)
    {
        
    }
}
